<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static "styles.css"  %}">
    <script src="{% static "scripts.js"  %}" defer></script>
</head><style>
.alert2 {
  padding: 10px;
  background-color: #10d365;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>

<body>
    <!--messages-->
                    {% for message in messages %}
                        <div class="alert2">
                          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                          <strong>Diqqat!</strong> {{ message }}
                        </div>



                    {% endfor %}
    <!--end messages-->
    <div class="container">
        <div class="card center spacer">
            <h1 class="title text-center">Login With</h1>
            <div class="social-login">
                <a  class="google"  href="#"><button class="social-btn">
                    <img class="icon" src="{% static  "icons/gmail.svg"  %}" alt="gmail icon">
                    Gmail
                </button></a>
                <button class="social-btn">
                    <img class="icon" src="{% static  "icons/facebook.svg"  %}" alt="gmail icon">
                    Facebook
                </button>
            </div>
            <div class="text-center line form-divider">or</div>
            <form action="{% url 'signin' %}" method="POST" class="login-form spacer">{% csrf_token %}

                <div class="input-group">
                    <img class="icon input-icon" src="{% static "icons/envelope.png" %}" alt="">
                    <input required name="email" id="email"   name="email" type="email" class="form-input" placeholder="Sherzamon@mail.com">
                </div>
                <div class="input-group">
                    <img class="icon input-icon" src="{%  static  "icons/key.svg" %}" alt="">
                    <input required name="password1" id="password1" name="password1" type="password" class="form-input" placeholder="password" maxlength="22" minlength="8">
                </div>
                <input type="submit" class="submit" value="Login">
            </form>

        </div>


    </div>

    <div class="redirect">
        Don't have an account?&nbsp;<a href="{%  url  'signup' %}" class="link">Signup</a>
        <br><br>
        <a href="#" class="link">Forgot password?</a>
    </div>


</body>
</html>
